USE [master]
GO
/****** Object:  Database [variant7]    Script Date: 18.05.2023 10:06:16 ******/
CREATE DATABASE [variant7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'variant7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\variant7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'variant7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\variant7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [variant7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [variant7]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID] [int] NULL,
	[Код заказа] [nvarchar](max) NULL,
	[Дата создания] [date] NULL,
	[Время заказа] [datetime] NULL,
	[Код клиента] [int] NULL,
	[Услуги] [nvarchar](max) NULL,
	[Статус] [nvarchar](50) NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [nvarchar](max) NULL,
	[Код чека] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](50) NULL,
	[Код клиента] [int] NOT NULL,
	[Паспортные данные] [nvarchar](50) NULL,
	[Дата рождения] [date] NULL,
	[Адрес] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[Номер отчета] [int] NULL,
	[Код сотрудника] [int] NULL,
	[Код заказа] [int] NOT NULL,
 CONSTRAINT [PK_Отчеты] PRIMARY KEY CLUSTERED 
(
	[Код заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [int] NOT NULL,
	[Должность] [nvarchar](max) NULL,
	[ФИО] [nvarchar](max) NULL,
	[Логин] [nvarchar](max) NULL,
	[Пароль] [nvarchar](max) NULL,
	[Тип входа] [nvarchar](50) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID] [int] NOT NULL,
	[Наименование услуги] [nvarchar](max) NULL,
	[Код услуги] [nvarchar](max) NULL,
	[Стоимость работы за час] [money] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 18.05.2023 10:06:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[Код чека] [int] NOT NULL,
	[Код клиента] [int] NULL,
	[Код услуги] [int] NULL,
 CONSTRAINT [PK_Чек] PRIMARY KEY CLUSTERED 
(
	[Код чека] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код чека]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12' AS Date), CAST(N'2023-05-18T09:10:00.000' AS DateTime), 45462526, N'34', N'Новая', NULL, N'120 минут', NULL)
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код чека]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13' AS Date), CAST(N'2023-05-18T10:10:00.000' AS DateTime), 45462527, N'98', N'В прокате', NULL, N'600 минут', NULL)
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Время заказа], [Код клиента], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код чека]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14' AS Date), CAST(N'2023-05-18T11:10:00.000' AS DateTime), 45462528, N'92', N'В прокате', NULL, N'2 часа', NULL)
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [Email], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Москва, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [Email], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Москва, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [Email], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Москва, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость работы за час]) VALUES (31, N'Прокат набора защитного оборудования', N'JUR8R', 1000.0000)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость работы за час]) VALUES (34, N'Прокат роликов', N'JKFBJ09', 1000.0000)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость работы за час]) VALUES (44, N'Аренда моноколеса', N'DHBGFY563', 1000.0000)
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD  CONSTRAINT [FK_Отчеты_Сотрудники] FOREIGN KEY([Код сотрудника])
REFERENCES [dbo].[Сотрудники] ([Код сотрудника])
GO
ALTER TABLE [dbo].[Отчеты] CHECK CONSTRAINT [FK_Отчеты_Сотрудники]
GO
ALTER TABLE [dbo].[Чек]  WITH CHECK ADD  CONSTRAINT [FK_Чек_Услуги] FOREIGN KEY([Код услуги])
REFERENCES [dbo].[Услуги] ([ID])
GO
ALTER TABLE [dbo].[Чек] CHECK CONSTRAINT [FK_Чек_Услуги]
GO
USE [master]
GO
